# Creating a Baseline Model

## Calculating the baseline model (that predicts the average of the bdi from its origin to  2021-11-29)'s MAE and MSE and RMSE

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

# BASELINE THAT PREDICT PREV VALUE

In [4]:
bdi = pd.read_csv("../raw_data/data/BDI/cleaned_daily_BDI.csv")

In [23]:
bdi_weekly = pd.read_csv("../raw_data/data/WEEKLY_merged_data_prescaling.csv")
bdi_weekly

bdi_weekly = bdi_weekly.drop("Unnamed: 0", axis=1)
bdi_weekly = bdi_weekly.rename(columns={'time': 'Date'})
bdi_weekly = bdi_weekly.rename(columns={'bdi': 'BDI_Price'})
bdi_weekly_pred = bdi_weekly.shift(1)
bdi_weekly_pred

# np.sum(np.abs(bdi_weekly_pred["BDI_Price"] - bdi_weekly["BDI_Price"])) / len(bdi_weekly)


np.sum(np.abs(np.log(bdi_weekly_pred["BDI_Price"]) - np.log(bdi_weekly["BDI_Price"]))) / len(bdi_weekly)

0.055076277474138076

In [5]:
bdi

            Date   Price
0     1995-01-03  1964.0
1     1995-01-04  1961.0
2     1995-01-05  1967.0
3     1995-01-06  1983.0
4     1995-01-09  1994.0
...          ...     ...
4995  2014-12-08   952.0
4996  2014-12-09   933.0
4997  2014-12-10   911.0
4998  2014-12-11   887.0
4999  2014-12-12   863.0

[5000 rows x 2 columns]

In [7]:
baseline_pred = bdi["Price"].shift(-1)

In [13]:
log_baseline = np.log10(bdi["Price"])
log_baseline_pred = np.log10(baseline_pred)
MAE = (np.abs(log_baseline_pred - log_baseline).sum() )/ len(bdi)
MAE

0.004880298350888749

In [14]:
mean_absolute_error(np.log10(bdi["Price"][:-1]), np.log10(baseline_pred[:-1]))

0.0048812746058099115

In [9]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [29]:
mean_squared_error(bdi["Price"][:-1], baseline_pred[:-1])

3081.9357871574316

In [31]:
RMSE = np.sqrt(mean_squared_error(bdi["Price"][:-1], baseline_pred[:-1]))
RMSE

55.51518519430005

0.0048812746058099115

In [28]:
errors = [(bdi["Price"][i]-bdi["Price"][i-1]) for i in range(1, len(bdi))]

In [29]:
squared_errors = np.square(errors)

In [30]:
absolute_errors = np.absolute(errors)

In [31]:
np.mean(squared_errors)

3081.9357871574316

In [32]:
np.mean(absolute_errors)

28.805161032206442

In [34]:
bdi_weekly = pd.read_csv("../raw_data/data/BDI/cleaned_weekly_BDI.csv")

In [36]:
bdi_weekly.head(2)

         time   close
0  1995-01-16  2059.0
1  1995-01-23  1983.0

In [37]:
errors = [(bdi_weekly["close"][i]-bdi_weekly["close"][i-1]) for i in range(1, len(bdi_weekly))]

In [38]:
squared_errors = np.square(errors)

In [39]:
absolute_errors = np.absolute(errors)

In [42]:
bdi.shape

(5000, 2)

In [40]:
np.mean(squared_errors)

42441.868055555555

In [41]:
np.mean(absolute_errors)

117.80416666666666