# Creating the log-value difference target for our model from daily BDI values.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [49]:
bdi = pd.read_csv("../raw_data/data/BDI/interpolated_daily_BDI.csv")

In [51]:
bdi.tail(2)

            Date   Price
7064  2022-11-11  1222.2
7065  2022-11-14  1189.0

$$log(ùë¶ùë°)‚àílog(ùë¶ùë°‚àí1)=log(ùë¶ùë°/ùë¶ùë°‚àí1)$$

# Set-up:

### For daily log-value difference:

1. create log_price column
2. create a shifted log_price column
3. calculate differences? 

### For weekly (i.e. 5 day since weekends are not included) log-value difference:
1. ~~create log_price column~~
2. ~~create weekly log-price column 
3. ~~create a shifted weekly log-price column~~
4. calculate difference
5. read the new columns as csv
6. attempt to implement them in a univariate model to test it out!

# For Daily log-value difference

In [52]:
bdi["log_price"] = np.log10(bdi["Price"])

In [53]:
bdi.head(2)

         Date   Price  log_price
0  1995-01-03  1964.0   3.293141
1  1995-01-04  1961.0   3.292478

In [54]:
bdi_shifted = bdi["log_price"].shift(-1)

In [55]:
bdi_shifted.head(2)

0    3.292478
1    3.293804
Name: log_price, dtype: float64

In [56]:
bdi["log_diff"] = bdi["log_price"]-bdi_shifted

In [57]:
bdi.head(2)

         Date   Price  log_price  log_diff
0  1995-01-03  1964.0   3.293141  0.000664
1  1995-01-04  1961.0   3.292478 -0.001327

# For weekly log_value diference

The aim would be to predict the week log difference (i.e. a horizon of 5 from the daily inputs) using a predefined set of previous days as inputs.

In [58]:
log_price_weekly = bdi.loc[::5, "log_price"]

In [59]:
log_price_weekly.head(4)

0     3.293141
5     3.304275
10    3.316180
15    3.307924
Name: log_price, dtype: float64

In [60]:
bdi["log_price"].head(16)

0     3.293141
1     3.292478
2     3.293804
3     3.297323
4     3.299725
5     3.304275
6     3.305136
7     3.309204
8     3.313867
9     3.315340
10    3.316180
11    3.316180
12    3.315970
13    3.313656
14    3.310481
15    3.307924
Name: log_price, dtype: float64

In [61]:
log_price_weekly_shifted = log_price_weekly.shift(-1)

In [62]:
log_diff_weekly = log_price_weekly - log_price_weekly_shifted

In [63]:
bdi["log_diff_weekly"] = log_price_weekly_shifted

In [64]:
bdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7066 entries, 0 to 7065
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             7066 non-null   object
 1   Price            7066 non-null   float64
 2   log_price        7066 non-null   float64
 3   log_diff         7065 non-null   float64
 4   log_diff_weekly  1413 non-null   float64
dtypes: float64(4), object(1)
memory usage: 276.1+ KB

In [69]:
bdi.head(16)

          Date   Price  log_price  log_diff  log_diff_weekly
0   1995-01-03  1964.0   3.293141  0.000664         3.304275
1   1995-01-04  1961.0   3.292478 -0.001327              NaN
2   1995-01-05  1967.0   3.293804 -0.003518              NaN
3   1995-01-06  1983.0   3.297323 -0.002402              NaN
4   1995-01-09  1994.0   3.299725 -0.004550              NaN
5   1995-01-10  2015.0   3.304275 -0.000861         3.316180
6   1995-01-11  2019.0   3.305136 -0.004068              NaN
7   1995-01-12  2038.0   3.309204 -0.004663              NaN
8   1995-01-13  2060.0   3.313867 -0.001473              NaN
9   1995-01-16  2067.0   3.315340 -0.000840              NaN
10  1995-01-17  2071.0   3.316180  0.000000         3.307924
11  1995-01-18  2071.0   3.316180  0.000210              NaN
12  1995-01-19  2070.0   3.315970  0.002314              NaN
13  1995-01-20  2059.0   3.313656  0.003175              NaN
14  1995-01-23  2044.0   3.310481  0.002557              NaN
15  1995-01-24  2032.0   3.307924  0.003003         3.295127

In [70]:
bdi.to_csv?

In [67]:
bdi.to_csv("/Users/justinrlawes/code/LeibnizianOptimist/bdi_predict/raw_data/data/BDI/log_diff_BDI.csv")