# Merging features for the first model

Merging: BDI weekly data with CGDP weekly, CIP weekly, and CSTEEL weekly

In [2]:
import numpy as np
import pandas as pd

In [3]:
csteel_df = pd.read_csv("../raw_data/data/CSTEEL/cleaned_weekly_CSTEEL.csv")
cgdp_df = pd.read_csv("../raw_data/data/CGDP/cleaned_weekly_CGDP.csv")
cip_df = pd.read_csv("../raw_data/data/CIP/cleaned_weekly_CIP.csv")

In [4]:
csteel_df.merge(cgdp_df)

,time,close,csteel,cgdp,diff,cgdp_growth
0,1995-01-16,2059.0,7.380742e+06,5.857736e+11,NaN,NaN
1,1995-01-23,1983.0,7.349355e+06,5.890383e+11,3.264685e+09,0.005542
2,1995-01-30,1959.0,7.317968e+06,5.923030e+11,3.264685e+09,0.005512
3,1995-02-06,1980.0,7.418464e+06,5.955677e+11,3.264685e+09,0.005482
4,1995-02-13,1992.0,7.571714e+06,5.988324e+11,3.264685e+09,0.005452
...,...,...,...,...,...,...
1387,2021-11-01,2715.0,6.930000e+07,1.748367e+13,5.842392e+10,0.003342
1388,2021-11-08,2807.0,7.324333e+07,1.754210e+13,5.842392e+10,0.003330
1389,2021-11-15,2552.0,7.718667e+07,1.760052e+13,5.842392e+10,0.003319
1390,2021-11-22,2767.0,8.113000e+07,1.765894e+13,5.842392e+10,0.003308
1391,2021-11-29,3171.0,8.507333e+07,1.771737e+13,5.842392e+10,0.003298