In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt


from tensorflow.keras import Sequential
from tensorflow.keras import layers


from tensorflow.keras.preprocessing.sequence import TimeseriesGenerator
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.optimizers.schedules import ExponentialDecay
from tensorflow.keras.callbacks import EarlyStopping


from sklearn.model_selection import TimeSeriesSplit
from sklearn.preprocessing import MinMaxScaler


from bdi_predict.ml_logic.sequence_gen import WindowGenerator

In [7]:
df = pd.read_csv("../raw_data/data/BDI/log_diff_BDI_daily.csv")
df.head(2)

   Unnamed: 0        Date   Price  abs_price  log_price  log_diff
0           0  1995-01-03  1964.0        NaN   3.293141       NaN
1           1  1995-01-04  1961.0       -3.0   3.292478 -0.000664

In [8]:
df["Date"] = pd.to_datetime(df["Date"])
df.set_index("Date", inplace=True)
df = df[df.index != "1995-01-03"]
df.drop(columns="Unnamed: 0", inplace=True)
df.head(2)

             Price  abs_price  log_price  log_diff
Date
1995-01-04  1961.0       -3.0   3.292478 -0.000664
1995-01-05  1967.0        6.0   3.293804  0.001327

In [9]:
df["log_diff_1000"] = df["log_diff"]*1000
df["log_diff_10000"] = df["log_diff"]*10000
df.head(3)

,Price,abs_price,log_price,log_diff,log_diff_1000,log_diff_10000
Date,,,,,,
1995-01-04,1961.0,-3.0,3.292478,-0.000664,-0.663890,-6.638898
1995-01-05,1967.0,6.0,3.293804,0.001327,1.326766,13.267663
1995-01-06,1983.0,16.0,3.297323,0.003518,3.518354,35.183543

In [ ]:
#df["growth_rate"] = df.["Price"].diff()

# Generating Sequences using WindowGenerator